<!DOCTYPE html>
<html>
    <head>
        <title>BDecotex</title>
        <meta charset="UTF-8">
    </head>
    <body data-ng-app="bdecotex" data-ng-controller="BDecotexController as data">
        <p>Name: <input type="text" data-ng-model="data.name" /></p>
        <input type="button" data-ng-click="data.add(data.name)" value="Add"/>
        <p>Bienvenido {{data.name}}</p>
        <p>Quizas debas saber <span data-ng-bind="data.name"></span> que la suma de 5 + 3 es {{5+3}}</p>
        <ul>
            <li data-ng-repeat="elem in data.nombres">{{elem.id_family}}: {{elem.description}}</li>
        </ul>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="target/BDecotexApp.js"></script>
	<script src="target/controller/BDecotexController.js"></script>
	<script src="target/service/BackendService.js"></script>
	<script src="target/model/BackendResponseData.js"></script>
    </body>
</html>
