<div id="bdtx-line" data-ng-controller="LineController as data">
    <div id="bdtx-line-list">
        <ul>
            <li data-ng-repeat="line in data.lineList">{{line.id_line}}: {{line.description}}</li>
        </ul>
    </div>
    <div id="bdtx-line-edit">
        <input type="text" data-ng-bind="data.lineSelected.id_line"/>
        <input type="text" data-ng-bind="data.lineSelected.description"/>
        <input type="text" data-ng-bind="data.lineSelected.code"/>
        <input type="button" value="Guardar"/>
        <input type="button" value="Cancelar"/>
    </div>
</div>
