<div id="bdtx-sex" data-ng-controller="SexController as data">
    <div id="bdtx-sex-list">
        <ul>
            <li data-ng-repeat="sex in data.sexList">{{sex.id_sex}}: {{sex.description}}</li>
        </ul>
    </div>
    <div id="bdtx-sex-edit">
        <input type="text" data-ng-bind="data.sexSelected.id_sex"/>
        <input type="text" data-ng-bind="data.sexSelected.description"/>
        <input type="text" data-ng-bind="data.sexSelected.code"/>
        <input type="button" value="Guardar"/>
        <input type="button" value="Cancelar"/>
    </div>
</div>
