<div id="bdtx-family">
    <h1>Familia</h1>
    
    <div id="bdtx-family-list" data-ng-show="data.familySelected == undefined">
        <div data-ui-grid="data.gridOptions" data-ui-grid-selection class="datatable"></div>
    </div>
    
    <div id="bdtx-family-edit" data-ng-show="data.familySelected != undefined">
        <div class="form-group">
            <label for="code">C&oacute;digo</label>
            <input id="code"
                   class="form-control"
                   type="text"
                   placeholder="C&oacute;digo de la familia"
                   data-ng-model="data.familySelected.code"/>
        </div>
        <div class="form-group">
            <label for="description">Descripci&oacute;n</label>
            <input id="description"
                   class="form-control"
                   type="text"
                   placeholder="Nombre de la familia"
                   data-ng-model="data.familySelected.description"/>
        </div>
    </div>
    
    <div id="bdtx-buttons">
        <button data-ng-click="data.createNewFamily()" data-ng-show="data.familySelected == undefined" class="btn btn-primary">Nueva familia</button>
        <button data-ng-click="data.editFamily()" data-ng-show="data.familySelected == undefined" class="btn btn-primary">Modificar</button>
        <button data-ng-click="data.saveFamily()" data-ng-show="data.familySelected != undefined" class="btn btn-primary">Guardar</button>
        <button data-ng-click="data.deleteFamily()" data-ng-show="data.familySelected.id_family != undefined" class="btn btn-danger">Eliminar</button>
        <button data-ng-click="data.familySelected = undefined" data-ng-show="data.familySelected != undefined" class="btn btn-secondary">Cancelar</button>
    </div>
</div>
