<div id="bdtx-sex">
    <h1>Sexo</h1>
    
    <div id="bdtx-sex-list" data-ng-show="data.sexSelected == undefined">
        <div data-ui-grid="data.gridOptions" data-ui-grid-selection class="datatable"></div>
    </div>
    
    <div id="bdtx-sex-edit" data-ng-show="data.sexSelected != undefined">
        <div class="form-group">
            <label for="code">C&oacute;digo</label>
            <input id="code"
                   class="form-control"
                   type="text"
                   placeholder="C&oacute;digo de sexo"
                   data-ng-model="data.sexSelected.code"/>
        </div>
        <div class="form-group">
            <label for="description">Descripci&oacute;n</label>
            <input id="description"
                   class="form-control"
                   type="text"
                   placeholder="Nombre de sexo"
                   data-ng-model="data.sexSelected.name"/>
        </div>
    </div>
    
    <div id="bdtx-buttons">
        <button data-ng-click="data.createNewSex()" data-ng-show="data.sexSelected == undefined" class="btn btn-primary">Nuevo sexo</button>
        <button data-ng-click="data.editSex()" data-ng-show="data.sexSelected == undefined" class="btn btn-primary">Modificar</button>
        <button data-ng-click="data.saveSex()" data-ng-show="data.sexSelected != undefined" class="btn btn-primary">Guardar</button>
        <button data-ng-click="data.deleteSex()" data-ng-show="data.sexSelected.id_sex != undefined" class="btn btn-danger">Eliminar</button>
        <button data-ng-click="data.sexSelected = undefined" data-ng-show="data.sexSelected != undefined" class="btn btn-secondary">Cancelar</button>
    </div>
</div>
