<div id="bdtx-model">
    <h1>Modelo</h1>
    <div id="bdtx-model-list">
        <ul>
            <li data-ng-repeat="model in data.modelList">{{model.id_model}}: {{model.description}}</li>
        </ul>
    </div>
    <div id="bdtx-model-edit">
        <div><label for="id">ID</label><input id="id" type="text" data-ng-bind="data.modelSelected.id_model"/></div>
        <div><label for="description">Descripci&oacute;n</label><input id="description" type="text" data-ng-bind="data.modelSelected.description"/></div>
        <div><label for="code">C&oacute;digo</label><input id="code" type="text" data-ng-bind="data.modelSelected.code"/></div>
        <input type="button" value="Guardar"/>
        <input type="button" value="Cancelar"/>
    </div>
</div>
