<div id="bdtx-sex">
    <h1>Sexo</h1>
    <div id="bdtx-sex-list">
        <ul>
            <li data-ng-repeat="sex in data.sexList" data-ng-click="data.selectSex(sex)">{{sex.id_sex}}: {{sex.name}}</li>
        </ul>
    </div>
    <div id="bdtx-sex-edit" data-ng-show="data.sexSelected != undefined">
        <div><label for="id">ID</label><input id="id" type="text" data-ng-model="data.sexSelected.id_sex"/></div>
        <div><label for="description">Descripci&oacute;n</label><input id="description" type="text" data-ng-model="data.sexSelected.name"/></div>
        <div><label for="code">C&oacute;digo</label><input id="code" type="text" data-ng-model="data.sexSelected.code"/></div>
    </div>
    <input type="button" value="Nuevo sexo" data-ng-click="data.createNewSex()" data-ng-show="data.sexSelected == undefined"/>
    <input type="button" value="Guardar" data-ng-click="data.saveSex()" data-ng-show="data.sexSelected != undefined"/>
    <input type="button" value="Eliminar" data-ng-click="data.deleteSex()" data-ng-show="data.sexSelected.id_sex != undefined"/>
    <input type="button" value="Cancelar" data-ng-click="data.sexSelected = undefined" data-ng-show="data.sexSelected != undefined"/>
</div>
