<div id="bdtx-line">
    <h1>L&iacute;nea</h1>
    <div id="bdtx-line-list" data-ng-show="data.lineSelected == undefined">
        <div data-ui-grid="data.gridOptions" data-ui-grid-selection class="datatable"></div>
    </div>
    
    <div id="bdtx-line-edit" data-ng-show="data.lineSelected != undefined">
        <div class="form-group">
            <label for="code">C&oacute;digo</label>
            <input id="code"
                   class="form-control"
                   type="text"
                   placeholder="C&oacute;digo de la l&iacute;nea"
                   data-ng-model="data.lineSelected.code"/>
        </div>
        <div class="form-group">
            <label for="description">Descripci&oacute;n</label>
            <input id="description"
                   class="form-control"
                   type="text"
                   placeholder="Nombre de la l&iacute;nea"
                   data-ng-model="data.lineSelected.name"/>
        </div>
    </div>
    
    <div id="bdtx-buttons">
        <button data-ng-click="data.createNewLine()" data-ng-show="data.lineSelected == undefined" class="btn btn-primary">Nueva linea</button>
        <button data-ng-click="data.editFamily()" data-ng-show="data.lineSelected == undefined" class="btn btn-primary">Modificar</button>
        <button data-ng-click="data.saveLine()" data-ng-show="data.lineSelected != undefined" class="btn btn-primary">Guardar</button>
        <button data-ng-click="data.deleteLine()" data-ng-show="data.lineSelected.id_line != undefined" class="btn btn-danger">Eliminar</button>
        <button data-ng-click="data.lineSelected = undefined" data-ng-show="data.lineSelected != undefined" class="btn btn-secondary">Cancelar</button>
    </div>
</div>
