<div id="bdtx-line">
    <h1>L&iacute;nea</h1>
    <div id="bdtx-line-list">
        <ul>
            <li data-ng-repeat="line in data.lineList" data-ng-click="data.selectLine(line)">{{line.id_line}}: {{line.name}}</li>
        </ul>
    </div>
    <div id="bdtx-line-edit" data-ng-show="data.lineSelected != undefined">
        <div><label for="id">ID</label><input id="id" type="text" data-ng-model="data.lineSelected.id_line"/></div>
        <div><label for="description">Descripci&oacute;n</label><input id="description" type="text" data-ng-model="data.lineSelected.name"/></div>
        <div><label for="code">C&oacute;digo</label><input id="code" type="text" data-ng-model="data.lineSelected.code"/></div>
    </div>
    <input type="button" value="Nueva linea" data-ng-click="data.createNewLine()" data-ng-show="data.lineSelected == undefined"/>
    <input type="button" value="Guardar" data-ng-click="data.saveLine()" data-ng-show="data.lineSelected != undefined"/>
    <input type="button" value="Eliminar" data-ng-click="data.deleteLine()" data-ng-show="data.lineSelected.id_line != undefined"/>
    <input type="button" value="Cancelar" data-ng-click="data.lineSelected = undefined" data-ng-show="data.lineSelected != undefined"/>
</div>
