<div id="bdtx-family">
    <h1>Familia</h1>
    <div id="bdtx-family-list">
        <div data-ui-grid="data.gridOptions" data-ui-grid-selection class="datatable"></div>
        <ul>
            <li data-ng-repeat="family in data.familyList" data-ng-click="data.selectFamily(family)">{{family.code}}: {{family.description}}</li>
        </ul>
    </div>
    <div id="bdtx-family-edit" data-ng-show="data.familySelected != undefined">
        <div><label for="id">ID</label><input id="id" type="text" data-ng-model="data.familySelected.id_family"/></div>
        <div><label for="description">Descripci&oacute;n</label><input id="description" type="text" data-ng-model="data.familySelected.description"/></div>
        <div><label for="code">C&oacute;digo</label><input id="code" type="text" data-ng-model="data.familySelected.code"/></div>
    </div>
    <input type="button" value="Nueva familia" data-ng-click="data.createNewFamily()" data-ng-show="data.familySelected == undefined"/>
    <input type="button" value="Guardar" data-ng-click="data.saveFamily()" data-ng-show="data.familySelected != undefined"/>
    <input type="button" value="Eliminar" data-ng-click="data.deleteFamily()" data-ng-show="data.familySelected.id_family != undefined"/>
    <input type="button" value="Cancelar" data-ng-click="data.familySelected = undefined" data-ng-show="data.familySelected != undefined"/>
</div>
