<div id="bdtx-family">
    <h1>Familia</h1>
    <div id="bdtx-family-list">
        <ul>
            <li data-ng-repeat="family in data.familyList">{{family.id_family}}: {{family.description}}</li>
        </ul>
    </div>
    <div id="bdtx-family-edit">
        <div><label for="id">ID</label><input id="id" type="text" data-ng-bind="data.familySelected.id_family"/></div>
        <div><label for="description">Descripci&oacute;n</label><input id="description" type="text" data-ng-bind="data.familySelected.description"/></div>
        <div><label for="code">C&oacute;digo</label><input id="code" type="text" data-ng-bind="data.familySelected.code"/></div>
        <input type="button" value="Guardar"/>
        <input type="button" value="Cancelar"/>
    </div>
</div>
