<div id="bdtx-model">
    <h1>Modelo</h1>
    
    <div id="bdtx-model-list" data-ng-show="data.modelSelected == undefined">
        <div data-ui-grid="data.gridOptions" data-ui-grid-selection class="datatable"></div>
    </div>
    
    <div id="bdtx-model-edit" class="container" data-ng-show="data.modelSelected != undefined"> 
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="xid_family">Familia</label>
                <ui-select id="xid_family"
                           ng-model="data.modelSelected.family" 
                           theme="bootstrap" 
                           title="Selecciona una familia ...">
                    <ui-select-match placeholder="Seleciona una familia...">{{$select.selected.description}}</ui-select-match>
                    <ui-select-choices repeat="family in data.familyList">
                        <span ng-bind="family.description"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-3 form-group">
                <label for="xid_line">L&iacute;nea</label>
                <ui-select id="xid_line"
                           ng-model="data.modelSelected.line" 
                           theme="bootstrap" 
                           title="Selecciona una l&iacute;nea ...">
                    <ui-select-match placeholder="Seleciona una l&iacute;nea...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="line in data.lineList">
                        <span ng-bind="line.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-3 form-group">
                <label for="xid_sex">Sexo</label>
                <ui-select id="xid_sex"
                           ng-model="data.modelSelected.sex" 
                           theme="bootstrap" 
                           title="Selecciona el sexo ...">
                    <ui-select-match placeholder="Seleciona el sexo...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="sex in data.sexList">
                        <span ng-bind="sex.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-3 form-group">
                <label for="variant">Variante</label>
                <input id="variant"
                       class="form-control"
                       type="text"
                       placeholder="Variante del modelo"
                       data-ng-model="data.modelSelected.variant"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Descripci&oacute;n</label>
            <input id="description"
                   class="form-control"
                   type="text"
                   placeholder="Descripci&oacute;n del modelo"
                   data-ng-model="data.modelSelected.description"/>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="front">Frontal</label>
                <input id="front"
                       class="form-control"
                       type="text"
                       placeholder="Frontal del modelo"
                       data-ng-model="data.modelSelected.front"/>
            </div>
            <div class="col-md-6 form-group">
                <label for="back">Trasero</label>
                <input id="back"
                       class="form-control"
                       type="text"
                       placeholder="Trasero del modelo"
                       data-ng-model="data.modelSelected.back"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="neck">Cuello</label>
                <input id="neck"
                       class="form-control"
                       type="text"
                       placeholder="Cuello del modelo"
                       data-ng-model="data.modelSelected.neck"/>
            </div>
            <div class="col-md-6 form-group">
                <label for="arm">Brazo</label>
                <input id="arm"
                       class="form-control"
                       type="text"
                       placeholder="Brazo del modelo"
                       data-ng-model="data.modelSelected.arm"/>
            </div>
        </div>
        <div class="form-group">
            <label for="observations">Observaciones</label>
            <textarea id="observations"
                   class="form-control"
                   type="text"
                   placeholder="Observaciones sobre el modelo"
                   row="4"
                   data-ng-model="data.modelSelected.observations"></textarea>
        </div>
        <div class="form-group">
            <label for="client">Cliente</label>
            <input id="client"
                   class="form-control"
                   type="text"
                   placeholder="Cliente para el que se realiz&oacute; este modelo"
                   data-ng-model="data.modelSelected.client"/>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="model_number_parent">Modelo padre</label>
                <input id="model_number_parent"
                       class="form-control"
                       type="text"
                       placeholder="Referencia al modelo padre"
                       data-ng-model="data.modelSelected.model_number_parent"/>
            </div>
            <div class="col-md-4 form-group">
                <label for="xid_model_parent">ID Modelo padre</label>
                <input id="xid_model_parent"
                       class="form-control"
                       type="text"
                       placeholder="C&oacute;digo del modelo padre"
                       data-ng-model="data.modelSelected.xid_model_parent"/>
            </div>
            <div class="col-md-4 form-group">
                <label for="code">C&oacute;digo antiguo</label>
                <input id="code"
                       class="form-control"
                       type="text"
                       placeholder="Antigua referencia"
                       data-ng-model="data.modelSelected.old_ref"/>
            </div>
        </div>
    </div>
    
    <div id="bdtx-buttons">
        <button data-ng-click="data.createNewModel()" data-ng-show="data.modelSelected == undefined" class="btn btn-primary">Nuevo modelo</button>
        <button data-ng-click="data.editModel()" data-ng-show="data.modelSelected == undefined" class="btn btn-primary">Modificar</button>
        <button data-ng-click="data.saveModel()" data-ng-show="data.modelSelected != undefined" class="btn btn-primary">Guardar</button>
        <button data-ng-click="data.deleteModel()" data-ng-show="data.modelSelected.id_model != undefined" class="btn btn-danger">Eliminar</button>
        <button data-ng-click="data.modelSelected = undefined" data-ng-show="data.modelSelected != undefined" class="btn btn-secondary">Cancelar</button>
    </div>
</div>
