<div id="bdtx-line">
    <h1>L&iacute;nea</h1>
    <div id="bdtx-line-list">
        <ul>
            <li data-ng-repeat="line in data.lineList">{{line.id_line}}: {{line.name}}</li>
        </ul>
    </div>
    <div id="bdtx-line-edit">
        <div><label for="id">ID</label><input id="id" type="text" data-ng-bind="data.lineSelected.id_line"/></div>
        <div><label for="id">Descripci&oacute;n</label><input id="description" type="text" data-ng-bind="data.lineSelected.description"/></div>
        <div><label for="id">C&oacute;digo</label><input id="code" type="text" data-ng-bind="data.lineSelected.code"/></div>
        <input type="button" value="Guardar"/>
        <input type="button" value="Cancelar"/>
    </div>
</div>
