/*
Colores https://color.hailpixel.com
Fondo oscuro #22220B
Letra clara #FEFBFB
Fondo cabecera #7344C1
Errores #B43C48
Mensajes #73D071

*/
/* GLOBALS */
html, body, #bdtx-app, .fullHeight {
    height: 100%;
}

#bdtx-screen-waiting {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}

#bdtx-screen-messages {
    position: fixed;
    top: 60px;
    text-align: center;
    width: 70%;
}

#bdtx-family .datatable {
    width: 100%;
    height: 300px;
}

/* HEADER */
#bdtx-header {
    background-color: #22220B;
}
/* MENU */
#bdtx-menu {
    height: 100%;
    /*background-color: #7344C1;*/
    text-decoration: #FEFBFB;
}

/* WINDOW */
#bdtx-window ul li {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#bdtx-buttons {
    margin-top: 20px;
}

/* FOOTER */
#bdtx-footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}
